<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <h4 class="card-header text-center">
        AJOUT ESSENCE
      </h4>
      <form [formGroup]="especeForm" (ngSubmit)="onAdd()">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-6">
              <app-text-input-form [textFormGroup]="especeForm" [textLabel]="'Genre *'"
                                   [formName]="'genre'" [errorText]="'Champs obligatoire'"></app-text-input-form>
            </div>

            <div class="form-group col-md-6">
              <app-text-input-form [textFormGroup]="especeForm" [textLabel]="'Espèce *'"
                                   [formName]="'name'" [errorText]="'Champs obligatoire'"></app-text-input-form>
            </div>

            <div class="form-group col-md-6">
              <app-text-input-form [textFormGroup]="especeForm" [textLabel]="'Cultivar'"
                                   [formName]="'cultivar'"></app-text-input-form>
            </div>

            <div class="form-group col-md-6">
              <app-text-input-form [textFormGroup]="especeForm" [textLabel]="'Nom Français'"
                                   [formName]="'nomFr'"></app-text-input-form>
            </div>
            <br>
            <div class="form-group col-md-12">
              <label>Feuillux/Resineux *</label>
              <select class="custom-select is-valid" formControlName="categorie" name="categorie">
                <option value=""></option>
                <option value="F">Feuillux</option>
                <option value="R">Resineux</option>
              </select>
              <small style="color:#d9534f;font-size:0.9em; font-weight:bold"></small>
            </div>

            <div class="form-group col-md-12">
              <app-text-input-form [textFormGroup]="especeForm" [textLabel]="'Tarif *'"
                                   [formName]="'tarif'" [errorText]="'Saisir une valeur entiere'"></app-text-input-form>
            </div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="card-footer text-muted" style="text-align:right;">
          <app-button [textLabel]="'ENREGISTRER'" [type]="'submit'" [classButton]="'btn btn-success'"
                      [formGroup]="especeForm"></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
