<div class="authentication-wrapper authentication-2 px-4"
     style="background-image: url('../../../../assets/static/img/Background.png');">
  <div class="authentication-inner py-5">

    <!-- Form -->
    <form class="card" [@fallIn]="state">
      <div class="p-4 p-sm-5">

        <!-- Logo -->
        <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
          <div class="ui-w-60">
            <div class="w-100 position-relative" style="padding-bottom: 54%">
              <img src="../../../../assets/siteweb/Img/Logo/white.svg" width="50" alt="">

            </div>
          </div>
        </div>

        <div class="error-server" *ngIf="errorMessage.show" [@fallIn]="state">
          {{errorMessage.message}}
        </div>

        <div class="success-server" *ngIf="successMessage.show" [@fallIn]="state">
          {{successMessage.message}}
        </div>
        <!-- / Logo -->

        <h5 class="text-center text-muted font-weight-normal mb-4">Réinitialiser mot de passe</h5>
        <hr class="mt-0 mb-4">
        <p>
          Entrer votre mail et un lien de confimation vous sera envoyé.
        </p>
        <form [formGroup]="emailConfirmForm" (ngSubmit)="confirmPassword()">
          <div class="form-group">
            <input formControlName="email" type="text"
                   [class]="'form-control ' + (emailConfirmForm.get('email').errors  && emailConfirmForm.controls.email.touched ? 'is-invalid' : 'is-valid')"
                   placeholder="Saisir votre adresse email *">
            <small style="color:red;font-size:0.9em; font-weight:bold"
                   *ngIf="emailConfirmForm.get('email').errors && emailConfirmForm.controls.email.touched">
              Email invalide
            </small>
          </div>
          <button type="submit" class="btn btn-success btn-block">ENVOYER</button>
        </form>
        <br>
        <div class="text-center text-muted">
          <a href="javascript:void(0)" routerLink="/login">Se Connecter</a>
        </div>
      </div>
    </form>
    <!-- / Form -->

  </div>
</div>

<!-- SPINNER -->
<div class="app-splash-screen" *ngIf="visibleSpinner">
  <div class="block-ui-template">
    <div class="sk-folding-cube sk-primary">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
    <h5 class="text-center mb-0">CHARGEMENT...</h5>
  </div>
</div>
<!-- FIN SPINNER -->
