<table cellpadding="16pt">
  <tr>
    <td valign="top" width="50%">
      <a name="caption1"></a>
      <h1 style="text-align: justify">
        <a name="bookmark0"></a><span class="font2" style="font-weight: bold">Conditions Générales d'Utilisation et de
          Vente du Service
          DENDROMAP© </span><span class="font1" style="font-weight: bold">Article 1 - Généralités</span>
      </h1>
      <p style="text-align: justify">
        <span class="font1">Bienvenue sur les Conditions générales d'utilisation de
          DENDROMAP© constitué du site «
          <a href="https://dendromap.fr">https://dendromap.fr</a> »
          (ci-après le « Site ») et de l'application pour
          smartphones&nbsp;et tablettes (ci-après « l'Application »).</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">Le Site et l'Application (ci-après le « Service ») sont créés,
          développés et exploités par la Société ARBOCENS (ci-après dénommé
          « ARBOCENS »), Société à Actions Simplifiée&nbsp;au capital de 68
          000 euros, inscrite au RCS de Nantes sous le n° 844 154 823, et
          dont&nbsp;le siège social est le 20 impasse du Moulin de la
          Pâtissière à Saint-Herblain (44800).&nbsp;Les CGU-CGV ont pour
          objet de définir les rapports contractuels et commerciaux
          entre&nbsp;ARBOCENS, d'une part, et tout abonné professionnel au
          Service DENDROMAP© (ci-après dénommé « L'Abonné(e) »), d'autre
          part. L'Abonné(e) reconnaît qu'il ne pourra&nbsp;souscrire et
          accéder au Service DENDROMAP© s'il n'accepte pas sans réserve
          les&nbsp;présentes CGU-CGV et il s'engage à les respecter. Les
          présentes CGU-CGV s'entendent&nbsp;sans préjudice des dispositions
          légales applicables en la matière.</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 9pt 0pt">
        <span class="font1">ARBOCENS se réserve le droit de modifier les présentes CGU-CGV, à
          tout moment et sans préavis.</span>
      </p>
      <h2 style="text-align: justify; padding: 9pt 0pt 0pt 0pt">
        <a name="bookmark1"></a><span class="font1" style="font-weight: bold">Article 2 - Description du Service
          DENDROMAP©</span>
      </h2>
      <p style="text-align: justify">
        <span class="font1">
          Le Service DENDROMAP© est proposé et exploité par ARBOCENS, et
          dédié exclusivement aux professionnels. Il permet en souscrivant
          un abonnement aux&nbsp;présentes conditions, d'accéder au Site (
        </span>
        <span class="font1" style="text-decoration: underline; color: #0000fc">
          <a href="https://dendromap.fr">https://dendromap.fr</a>
        </span>
        <span class="font1">) et à l'Application, selon&nbsp;l'abonnement que L'Abonné(e)
          aura souscrit.</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 9pt 0pt">
        <span class="font1">Le Service DENDROMAP© est accessible pour L'Abonné(e) jusqu'à la
          résiliation de son abonnement par L'Abonné(e). Une fois
          l'abonnement résilié, l'accès au Site n'est&nbsp;autorisé qu'avec
          des fonctionnalités limitées, qui sont celles prévues par
          l'accès&nbsp;gratuit.</span>
      </p>
      <h2 style="text-align: justify; padding: 9pt 0pt 0pt 0pt">
        <a name="bookmark2"></a><span class="font1" style="font-weight: bold">Article 3 - Conditions d'utilisation au
          Service DENDROMAP©</span>
      </h2>
      <p style="text-align: justify; padding: 0pt 0pt 9pt 0pt">
        <span class="font1">Le Service DENDROMAP© est réservé aux professionnels du monde
          arboré, et aux collectivités. Le Service DENDROMAP© n'est
          accessible qu'à partir d'une seule&nbsp;connexion à la fois. Il
          est précisé qu'ARBOCENS met en œuvre des moyens
          techniques&nbsp;pour vérifier l'absence de connexions multiples
          simultanées à un même compte du&nbsp;Service DENDROMAP© et
          détecter les tentatives de connexions multiples.</span>
      </p>
      <h2 style="text-align: justify; padding: 9pt 0pt 0pt 0pt">
        <a name="bookmark3"></a><span class="font1" style="font-weight: bold">Article 4 - Disponibilité et modification
          du Service
          DENDROMAP©</span>
      </h2>
      <p style="text-align: justify">
        <span class="font1">Le Service DENDROMAP© est accessible vingt-quatre heures sur
          vingt-quatre, sept jours sur sept, dans la limite des conditions
          d'utilisation susvisées et des stipulations&nbsp;de l'article 12
          ci-après.</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 9pt 0pt">
        <span class="font1">ARBOCENS se réserve le droit d'apporter au Service DENDROMAP©
          toutes les modifications et améliorations de son choix. ARBOCENS
          s'engage à ce qu'il n'en résulte&nbsp;ni altération de qualité ni
          modification substantielle des fonctionnalités du
          Service&nbsp;DENDROMAP©. Par ailleurs, ARBOCENS se réserve le
          droit de suspendre&nbsp;temporairement l'accès au Service
          DENDROMAP© pour assurer des opérations de&nbsp;maintenance.
          ARBOCENS se réserve également le droit, sans indemnité, de mettre
          un&nbsp;terme définitif au Service DENDROMAP©. Toute fermeture
          définitive du Service&nbsp;DENDROMAP© sera notifiée via le Site au
          minimum 1 (un) mois avant qu'elle&nbsp;n'intervienne, L'Abonné(e)
          ne sera plus redevable d'aucun paiement à compter de la&nbsp;date
          d'arrêt dudit Service.</span>
      </p>
      <h2 style="text-align: justify; padding: 9pt 0pt 0pt 0pt">
        <a name="bookmark4"></a><span class="font1" style="font-weight: bold">Article 5 - Conclusion du contrat en
          ligne</span>
      </h2>
      <p style="text-align: justify">
        <span class="font1">5.1 &nbsp;&nbsp;&nbsp;Absence de droit de rétractation</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 9pt 0pt">
        <span class="font1">Le Service DENDROMAP© étant exclusivement destiné aux
          professionnels et collectivités, le droit du consommateur ne
          s'applique pas. Conformément aux&nbsp;dispositions de l'article L.
          121-21-8 du Code de la Consommation, l'Abonné(e)&nbsp;reconnaît et
          accepte expressément (i) que la fourniture du Service
          DENDROMAP©&nbsp;commence immédiatement après la validation de son
          inscription au Service&nbsp;DENDROMAP©, soit avant la fin du délai
          de quatorze jours francs prévu par le Code de&nbsp;la Consommation
          et (ii) reconnaît et accepte en conséquence de ne pas bénéficier
          du&nbsp;droit de rétractation lié à la vente en ligne ou à
          distance. En conséquence, aucune&nbsp;demande de rétractation,
          d'annulation ou de remboursement ne sera recevable pour&nbsp;la
          période souscrite.</span>
      </p>
      <p style="text-align: justify; padding: 9pt 0pt 0pt 0pt">
        <span class="font1">5.2 &nbsp;&nbsp;&nbsp;Durée</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 9pt 0pt">
        <span class="font1">DENDROMAP© propose plusieurs formules d'abonnement. Il se peut
          également que des offres d'essai ou de découverte du Service
          DENDROMAP© d'une durée variable&nbsp;soient proposées sur le Site,
          de manière temporaire ou non. Sauf indication contraire,&nbsp;ces
          offres d'essai ou de découverte seront soumises aux présentes
          CGU-CGV et seront&nbsp;limitées à une seule inscription (même
          adresse IP et/ou même adresse de courrier&nbsp;électronique)
          quelque soit l'offre d'essai ou de découverte.</span>
      </p>
      <p style="text-align: justify; padding: 9pt 0pt 0pt 0pt">
        <span class="font1">5.3 &nbsp;&nbsp;&nbsp;Reconduction</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">Sauf résiliation par L'Abonné(e) dans les conditions de l'article
          5.4</span><span class="font1" style="font-weight: bold">, </span><span class="font1">l'abonnement au Service
          DENDROMAP© est reconduit tacitement pour
          une durée identique à celle&nbsp;souscrite initialement.</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 9pt 0pt">
        <span class="font1">Sauf indication contraire sur le Site et sauf résiliation par
          L'Abonné(e) dans les conditions de l'article 5.4 ci-dessous, toute
          offre d'essai ou de découverte du Service&nbsp;DENDROMAP© est
          transformée en abonnement mensuel au tarif indiqué dans
          l'offre&nbsp;ou, à défaut, au tarif applicable aux abonnements
          mensuels du Service&nbsp;DENDROMAP©.</span>
      </p>
      <p style="text-align: justify; padding: 9pt 0pt 0pt 0pt">
        <span class="font1">5.4 &nbsp;&nbsp;&nbsp;Résiliation</span>
      </p>
      <p style="text-align: justify">
        <span class="font1" style="font-style: italic">5.4.2 - Résiliation par l'Abonné(e)</span>
      </p>
    </td>
    <td valign="top" width="50%">
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">L'Abonné(e) peut le résilier à partir de son compte sur le Site
          depuis la rubrique « Mon Profil ». La prise en compte de la
          résiliation sera effective au terme de la
          période&nbsp;d'abonnement en cours sous réserve que sa demande ait
          été envoyée au moins 48&nbsp;(quarante-huit) heures avant son
          terme, et jusqu'à la date et heure de fin telle&nbsp;qu'indiquée
          sur le compte de L'Abonné(e) pour une offre d'essai ou de
          découverte,&nbsp;sauf indication contraire sur le Site.</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1" style="font-style: italic">5.4.2 - Résiliation par ARBOCENS</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">ARBOCENS se réserve le droit de résilier votre Abonnement pour
          motifs légitimes et notamment, sans que cette liste soit
          exhaustive dans l'hypothèse où :</span>
      </p>
      <p style="padding: 0pt 0pt 0pt 20pt">
        <span class="font1">- &nbsp;&nbsp;&nbsp;L'Abonné(e) ne respecterait pas les présentes
          CGU-CGV</span>
      </p>
      <p style="padding: 0pt 0pt 8pt 20pt">
        <span class="font1">- &nbsp;&nbsp;&nbsp;ARBOCENS arrêterait le Service.</span>
      </p>
      <h2 style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <a name="bookmark5"></a><span class="font1" style="font-weight: bold">Article 6 - Conditions d'accès au Service
          DENDROMAP©</span>
      </h2>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">L'Abonné(e) déclare avoir la capacité d'accepter les présentes
          CGU-CGV sans réserve et d'être un professionnel ou une
          collectivité.</span>
      </p>
      <h2 style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <a name="bookmark6"></a><span class="font1" style="font-weight: bold">Article 7 - Création d'un compte</span>
      </h2>
      <p style="text-align: justify">
        <span class="font1">Pour s'abonner au Service DENDROMAP©, toute personne doit :</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">- &nbsp;&nbsp;&nbsp;créer un compte sur le Site, si l'Abonné(e)
          est déjà inscrit, s'identifier sur le Site</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">- &nbsp;&nbsp;&nbsp;renseigner les différents champs du
          formulaire d'abonnement sur le Site</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">- &nbsp;&nbsp;&nbsp;confirmer son acceptation des présentes
          CGU-CGV</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">- &nbsp;&nbsp;&nbsp;régler le prix de son abonnement à l'aide du
          moyen de paiement proposé</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">Une fois son abonnement validé, ARBOCENS adresse à L'Abonné(e) (à
          l'adresse renseignée par ce dernier lors de son inscription sur le
          Site) un courrier électronique&nbsp;de confirmation.</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">L'Abonné(e) peut modifier le mot de passe communiqué à partir de
          son compte sur le Site en cliquant sur la rubrique « Mon Profil
          ».</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">L'Abonné(e) s'engage à fournir des informations véritables et
          sincères le/la concernant.</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">L'Abonné(e) s'engage à informer ARBOCENS sans délai de toute
          modification des informations fournies lors de la souscription de
          son abonnement, et notamment tout&nbsp;changement d'adresse de
          courrier électronique ou moyen de paiement. L'Abonné(e)&nbsp;peut
          modifier ces informations à partir de son compte sur le Site en
          cliquant sur la&nbsp;rubrique « Mon Profil».</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">ARBOCENS, ses partenaires, co-contractants ou ayants droit ne
          peuvent être tenus pour responsables des conséquences de
          l'utilisation fautive par L'Abonné(e) de son&nbsp;compte ou de
          toute action réalisée sur le compte de L'Abonné(e) par un tiers à
          qui&nbsp;L'Abonné(e) aurait communiqué ses identifiants ou qui
          aurait eu accès au compte suite&nbsp;à une faute, maladresse ou
          négligence de la part de L'Abonné(e).</span>
      </p>
      <h2 style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <a name="bookmark7"></a><span class="font1" style="font-weight: bold">Article 8 - Prix</span>
      </h2>
      <p style="text-align: justify">
        <span class="font1">Le prix de l'abonnement au Service DENDROMAP© est indiqué sur le
          Site en euros et</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">toutes taxes comprises.</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">Il est rappelé que les frais de connexion et de communication
          (Internet) liés à l'utilisation du Service DENDROMAP© ne sont pas
          pris en charge par ARBOCENS et&nbsp;restent à la charge de
          L'Abonné(e).</span>
      </p>
      <h2 style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <a name="bookmark8"></a><span class="font1" style="font-weight: bold">Article 9 - Paiement du prix</span>
      </h2>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">Le prix de l'abonnement est payable mensuellement. Le paiement
          s'effectuera, à terme à échoir (paiement par avance), lors de
          l'abonnement au Service&nbsp;DENDROMAP©, puis à chaque mois par
          prélèvement automatique jusqu'à résiliation&nbsp;de l'abonnement,
          que la résiliation soit à l'initiative de l'Abonné(e) ou à
          celle&nbsp;d'ARBOCENS.</span>
      </p>
      <h2 style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <a name="bookmark9"></a><span class="font1" style="font-weight: bold">Article 10 - Fermeture du compte</span>
      </h2>
      <p style="text-align: justify">
        <span class="font1">10.1 &nbsp;&nbsp;&nbsp;Fermeture du compte à l'initiative de
          l'Abonné(e)</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">A la fin de son abonnement, l'Abonné(e) peut fermer
          définitivement son compte en se rendant sur le Site rubrique « Mon
          Profil ».</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">La fermeture du compte de l'Abonné(e) entrera en vigueur dans un
          délai raisonnable après la réception de sa demande.</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1">10.2 &nbsp;&nbsp;&nbsp;Fermeture du compte à l'initiative
          d'ARBOCENS</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">En cas de non-respect des présentes CGU-CGV, ARBOCENS aura la
          faculté de suspendre ou clore le compte de l'Abonné(e) à tout
          moment, de plein droit et sans&nbsp;formalité judiciaire, après
          l'envoi d'une mise en demeure via courriel restée sans
          effet&nbsp;pendant une durée de cinq (5) jours calendaires à
          compter de sa réception.</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1">10.3 &nbsp;&nbsp;&nbsp;Conséquences de la fermeture du
          compte</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">Toute fermeture du compte de l'Abonné(e) entraîne la suppression
          définitive dans un délai raisonnable (1 mois) des informations
          communiquées à ARBOCENS lors de&nbsp;l'ouverture ou de la mise à
          jour de son compte, et de toutes les données stockées
          sur&nbsp;l'espace de l'Abonné(e). Nonobstant ce qui précède,
          ARBOCENS se réserve le droit de&nbsp;conserver les informations
          liées aux arbres dans les conditions de l'Article 16.
          En&nbsp;conséquence, l'Abonné(e) devra s'assurer qu'il aura fait
          les sauvegardes nécessaires&nbsp;de ses données.</span>
      </p>
      <h2 style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <a name="bookmark10"></a><span class="font1" style="font-weight: bold">Article 11 - Responsabilité</span>
      </h2>
      <p style="text-align: justify">
        <span class="font1">La responsabilité d'ARBOCENS ne pourra être retenue en cas
          d'inexécution ou de mauvaise exécution par L'Abonné(e) de ces
          CGU-CGV, de fait imprévisible et&nbsp;insurmontable d'un tiers ou
          en cas de force majeure tel que défini par l'article 1218
          du&nbsp;Code civil.</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">En tant que simple éditeur du service, ARBOCENS ne peut garantir
          la qualité du réseau internet ni son accès et ne peut garantir
          l'absence d'interruption du service propre au&nbsp;réseau
          internet.</span>
      </p>
    </td>
  </tr>
</table>
<hr />
<table cellpadding="16pt">
  <tr>
    <td valign="top" width="50%">
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">Enfin, ARBOCENS ne peut être tenue pour responsable de
          l'utilisation fautive faite par L'Abonné(e) du Service DENDROMAP©
          ni de l'utilisation du compte de L'Abonné(e)&nbsp;faite par un
          tiers à qui L'Abonné(e) aurait communiqué ses identifiants ou qui
          aurait&nbsp;eu accès au compte suite à une faute, maladresse ou
          négligence de la part de&nbsp;L'Abonné(e). L'Abonné(e) s'engage
          dans ces cas à faire son affaire personnelle de
          toute&nbsp;réclamation, revendication, ou opposition et plus
          généralement de toute procédure&nbsp;formée contre ARBOCENS
          émanant d'un tiers.</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1">Article </span><span class="font1" style="font-style: italic">12 -</span><span
          class="font1">
          Politique de protection des données à caractère personnel</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">12.1 &nbsp;&nbsp;&nbsp;Objet</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">Cette rubrique illustre l'engagement d'ARBOCENS eu égard au
          respect de la vie privée et à la protection des données à
          caractère personnel des Abonné(e)s (ci-après les&nbsp;« Données
          »), collectées et traitées à l'occasion de l'utilisation du Site
          et de&nbsp;l'Application dans les conditions visées au sein des
          CGU-CGV du Service&nbsp;DENDROMAP©.</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">ARBOCENS s'engage à respecter la législation en vigueur relative
          à la protection de la vie privée eu égard au traitement automatisé
          des Données, notamment de la Loi n°&nbsp;78-17 du 6 janvier 1978
          relative à l'informatique, aux fichiers et aux libertés
          (ci-après&nbsp;la « Loi Informatique et Libertés ») et du
          Règlement (UE) 2016/679 du Parlement&nbsp;européen et du Conseil
          du 27 avril 2016 relatif à la protection des personnes
          physiques&nbsp;à l'égard du traitement des Données, (ci-après
          ensemble la « Réglementation&nbsp;Applicable »).</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">En accédant au Site et/ou à l'Application et/ou en utilisant un
          des services gratuit ou payants proposés par ARBOCENS, l'Abonné(e)
          accepte que ses Données soient&nbsp;collectées et traitées dans
          les conditions et modalités exposées ci-après.</span>
      </p>
      <p style="padding: 8pt 0pt 8pt 0pt">
        <span class="font1">La présente politique fait partie intégrante des CGU-CGV du
          Service DENDROMAP© et peut être modifiée à tout moment, afin
          notamment de se conformer à toutes&nbsp;évolutions législatives,
          réglementaires, jurisprudentielles, éditoriales ou
          techniques.&nbsp;L'Abonné(e) doit donc se référer avant toute
          navigation à la dernière version de la&nbsp;Politique.</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1">12.2 &nbsp;&nbsp;&nbsp;Identité du responsable du
          traitement</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">Le responsable de traitement des Données des Utilisateurs est la
          société ARBOCENS, Société à Actions Simplifiée au capital de 68
          000 euros, inscrite au RCS de Nantes sous&nbsp;le n° 844 154 823,
          et dont le siège social est situé au 20 impasse du Moulin de
          la&nbsp;Pâtissière 44800 Saint-Herblain.</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">Les Données sont notamment stockées chez l'hébergeur du Site
          identifié au sein des Mentions légales.</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1">12.3 &nbsp;&nbsp;&nbsp;Données collectées</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">Afin de fournir ses Services, ARBOCENS peut être amené à
          collecter des Données relatives à ses Utilisateurs.</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1" style="font-style: italic">12.3.1 &nbsp;&nbsp;&nbsp;Les Données transmises directement par
          l'Abonné(e)</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">Lors de son inscription et de l'utilisation des Services,
          l'Abonné(e) fournit directement différentes Données à ARBOCENS,
          notamment :</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 0pt 38pt">
        <span class="font1">Des Données nécessaires pour la création de compte Utilisateur
          telles que nom, prénom, société, adresse email, mot de passe
          permettant&nbsp;d'identifier l'Abonné(e).</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 38pt">
        <span class="font1">L'Abonné(e) est informé dans les formulaires de collecte des
          Données du caractère obligatoire ou facultatif de la collecte de
          ladite Donnée. En cas&nbsp;de non fourniture d'un champ de données
          obligatoire, ARBOCENS ne&nbsp;pourra prendre en compte
          l'inscription et assurer la délivrance des&nbsp;Services.</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1" style="font-style: italic">12.3.2 &nbsp;&nbsp;&nbsp;Les Données recueillies lors de
          l'utilisation des Services</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">ARBOCENS recueille des Données relatives à la connexion, à la
          navigation, ou à l'utilisation des Services, notamment :</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 0pt 38pt">
        <span class="font1">Les Données recueillies à l'occasion de la relation commerciale
          pour le suivi de la relation commerciale ainsi que pour la
          facturation,</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 0pt 38pt">
        <span class="font1">Les Données de facturation et de transaction nécessaires aux fins
          de facturation, de gestion des transactions et de comptabilité :
          type (s)&nbsp;d'abonnement(s) souscrit(s), méthode de paiement,
          détails de la&nbsp;transaction effectuée.</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 0pt 38pt">
        <span class="font1">ARBOCENS n'a pas accès aux données de carte bancaire qui sont
          stockées chez le prestataire de paiement chargé du compte
          Utilisateur.</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 38pt">
        <span class="font1">Les Données issus des interactions avec le Service Client afin de
          pouvoir traiter votre demande : identification de l'Abonné(e),
          date, heure et motif&nbsp;de la requête, contenu des
          échanges.</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1">12.4 &nbsp;&nbsp;&nbsp;Finalités des traitements</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">ARBOCENS est amené à recueillir, collecter, enregistrer des
          Données telles que détaillées ci-dessus pour les traitements
          suivants :</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 0pt 38pt">
        <span class="font1">Fournir le Service et assurer son bon fonctionnement,</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 0pt 38pt">
        <span class="font1">Optimiser ou offrir de nouvelles fonctionnalités,</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 0pt 38pt">
        <span class="font1">Gérer la relation Abonné(e) via le Service Client,</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 0pt 38pt">
        <span class="font1">Gérer les opérations de facturation et de paiement,</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 0pt 38pt">
        <span class="font1">Mesurer l'audience de fréquentation des Services,</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 0pt 38pt">
        <span class="font1">Réaliser des enquêtes de satisfaction,</span>
      </p>
      <p style="padding: 0pt 27pt 0pt 38pt">
        <span class="font1">Permettre à l'Abonné(e) d'exercer ses droits décrits à l'article
          14 Lutter contre la fraude et les impayés,</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 0pt 38pt">
        <span class="font1">Sécuriser le Site, l'Application et les Services,</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 0pt 38pt">
        <span class="font1">Informer l'Abonné(e) des offres et actualités de
          DENDROMAP©.</span>
      </p>
    </td>
    <td valign="top" width="50%">
      <p style="text-align: justify">
        <span class="font1">12.5 Destinataires des Données</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">Les Données recueillies ou traitées à l'occasion de l'utilisation
          du Service par l'Abonné(e) sont destinées à ARBOCENS, aux
          personnes habilitées et autorisées ayant&nbsp;par leurs fonctions,
          besoin d'en avoir connaissances pour les finalités du
          traitement,&nbsp;ainsi que :</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">- &nbsp;&nbsp;&nbsp;Les prestataires, afin de s'assurer de la
          parfaite fourniture du Service,</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">- &nbsp;&nbsp;&nbsp;Les sous-traitants techniques peuvent, pour
          leur compte et sur instructions&nbsp;d'ARBOCENS, intervenir pour
          notamment héberger et stocker sur leurs serveurs des&nbsp;Données
          des Abonné(e)s, assurer la sécurité de l'infrastructure technique
          de&nbsp;DENDROMAP©.</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1">Article 13 - Sécurité des Données</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">Conformément à la réglementation applicable, ARBOCENS met tout en
          œuvre pour traiter les Données en toute sécurité et
          confidentialité. ARBOCENS ne peut toutefois&nbsp;garantir la
          confidentialité des Données rendues publiques par
          l'Abonné(e).</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1">13.1 Cookies</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">Afin de permettre à l'Abonné(e) une navigation optimale sur le
          Site, ainsi qu'un meilleur fonctionnement des différentes
          interfaces et applications, ARBOCENS pourra&nbsp;procéder à
          l'implantation d'un cookie sur le poste informatique de
          l'Abonné(e). Les&nbsp;cookies permettent de stocker des
          informations relatives à la navigation sur le
          Site.&nbsp;L'Abonné(e) dispose de la possibilité de bloquer,
          modifier la durée de conservation ou&nbsp;supprimer ces cookies
          via l'interface du compte-utilisateur de son navigateur. Dans
          un&nbsp;tel cas, la navigation sur le Site ne sera pas
          optimisée.</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">Si la désactivation systématique des cookies sur le navigateur de
          l'Abonné(e) l'empêche d'utiliser certains services, ce
          dysfonctionnement ne saurait en aucun cas&nbsp;constituer un
          dommage.</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1">Article 14 - Droits sur les Données</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">Les articles 14 à 22 du Règlement 2016/679 du 27 avril 2016
          confèrent à l'Abonné(e) les droits suivants :</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">- &nbsp;&nbsp;&nbsp;Un droit d'accès aux Données,</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">- &nbsp;&nbsp;&nbsp;Un droit de rectification des Données,</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">- &nbsp;&nbsp;&nbsp;Un droit d'opposition à la collecte et au
          traitement des Données,</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">- &nbsp;&nbsp;&nbsp;Un droit à l'effacement de ses Données,</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">- &nbsp;&nbsp;&nbsp;Un droit à limitation dans la collecte et le
          traitement de ses Données,</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">- &nbsp;&nbsp;&nbsp;Un droit à la portabilité de ses
          Données.</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1">
          L'Abonné(e) peut exercer ses droits en adressant une demande par
          email en ce sens à l'adresse
        </span>
        <span class="font1" style="text-decoration: underline; color: #0000fc">
          <a href="mailto:contact@arbocens.fr">contact@arbocens.fr</a>
        </span>
        <span class="font1" style="color: #0000fc"></span>
        <span class="font1">en précisant dans le titre « Vie privée ».</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">L'Abonné(e) est informé que l'exercice de certains droits,
          notamment opposition et effacement, peuvent restreindre ou
          empêcher l'accès et/ou l'utilisation des Services&nbsp;de
          DENDROMAP©. ARBOCENS se réserve le droit de procéder à une
          vérification&nbsp;d'identité de l'Abonné(e).</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1">Article 15 - Utilisation des données par des tiers</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">ARBOCENS ayant pour vocation la protection des arbres, la mise en
          valeur du patrimoine arboré et des arbres remarquables,
          l'Abonné(e) accepte sans réserve&nbsp;qu'ARBOCENS utilise
          certaines données liées aux arbres inventoriés par l'Abonné(e)
          ;&nbsp;et ce, à des fins de sensibilisation ou toutes autres
          campagnes entrant dans le champ&nbsp;des vocations
          précitées.</span>
      </p>
      <p>
        <span class="font1">Les Données récoltées par l'Abonné(e) pouvant faire l'objet de
          diffusion publique, participative ou sur une cartographie
          nationale sont :&nbsp;l'essence (genre, espèce et
          cultivar),&nbsp;le diamètre,&nbsp;la hauteur,</span>
      </p>
      <p style="text-indent: 38pt; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">et la ou les photos du sujet ou de l'espace boisé Ces données
          pourront être diffusées sans que l'Abonné(e) n'en soit au
          préalable&nbsp;informé(e).</span>
      </p>
      <p style="text-align: justify; padding: 8pt 0pt 0pt 0pt">
        <span class="font1">Article 16-Propriété intellectuelle</span>
      </p>
      <p style="text-align: justify">
        <span class="font1">La structure générale du Site, de l'Application et/ou tout autre
          élément les composant sont la propriété exclusive d'ARBOCENS ou
          ont fait l'objet d'une autorisation préalable&nbsp;d'utilisation
          au bénéfice d'ARBOCENS.</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 8pt 0pt">
        <span class="font1">Toute reproduction et représentation, totale ou partielle, du
          Site, de l'Application et/ou des éléments les composant par
          quelque procédé que ce soit, sans l'autorisation&nbsp;expresse
          d'ARBOCENS sont dès lors interdites et constitueraient une
          contrefaçon&nbsp;sanctionnée par les articles L. 335-2 et suivants
          du Code de la propriété intellectuelle.</span>
      </p>
      <p style="text-align: center; padding: 8pt 0pt 13pt 0pt">
        <span class="font0">•••</span>
      </p>
      <p style="text-align: justify; padding: 13pt 0pt 0pt 0pt">
        <span class="font1">Je
          soussigné(e),..........................................................................................................................</span>
      </p>
      <p style="text-align: justify; padding: 0pt 0pt 13pt 0pt">
        <span class="font1">déclare accepter sans réserve les CGU-CGV du Service
          DENDROMAP®.</span>
      </p>
      <p style="text-align: justify; padding: 13pt 0pt 13pt 0pt">
        <span class="font1">Le......................................
          à.......................................................................................................</span>
      </p>
      <p style="
          background-color: #edeae1;
          text-align: justify;
          padding: 13pt 0pt 0pt 0pt;
        ">
        <span class="font1" style="color: #000000">Signature</span>
      </p>
    </td>
  </tr>
</table>
<hr />
<p>
  <span class="font1">Conditions générales d'Utilisation et de Vente du Service Dendromap® -
    SAS ARBOCENS au Capital de 68 000 euros - RCS Nantes 844 144 823</span>
</p>
