table.main {
}
tr.row {
}
td.cell {
}
div.block {
}
div.paragraph {
}
body {
  background-color: #ffffff;
}
.font0 {
  font: 5pt Arial, sans-serif;
}
.font1 {
  font: 6pt Arial, sans-serif;
}
.font2 {
  font: 7pt Arial, sans-serif;
}
