#services {
  margin: 0;
  padding: 10px;
  background: url('../../../../assets/static/img/service-back.jpg') center;
  background-color: black;
  background-size: cover;
}

sub {
  bottom: 0.45em;
}
