<div id="services" class="p-4 landing-block">
  <div class="container px-3 p-3 p-xl-3 mb-xl-3" style="border: 1px solid #02bc77;
    padding: 5px;
    border-radius: 3px;
    background: #ffffffd4;">
    <div class="overflow-hidden">
      <div class="container">
        <h1 class="display-4 text-center mb-4">Services</h1>
        <hr class="landing-separator mx-auto">

        <div class="row">
          <div class="col-lg-6">

            <div class="card  pt-4 p-lg-5 my-3" style="background: #ffffff00;">
              <div class="display-4 text-success text-center mx-auto mb-4">
                <span class="lnr lnr-apartment"></span>
              </div>
              <h5 class="m-0 text-center">COLLECTIVITES</h5>
              <p class="ui-company-text py-2 my-4">
                La protection des arbres et des riverains est primordiale, il est donc impératif de connaître
                précisément votre patrimoine arboré afin de prévenir tout risque de chute d’arbres.
                <br>
                Facile à utiliser car développée avec l’aide des professionnels métiers, Dendromap<sub>®</sub> vous
                aide à cartographier votre parc en très peu de temps.
                <br>
                Découvrez les points forts de notre solution :
              </p>
              <div class="demo-vertical-spacing-lg">
                <ul>
                  <li><strong>Inventaire rapide</strong> des arbres isolés et d’alignement</li>
                  <li><strong>Vue satellite précise</strong> et fiable</li>
                  <li><strong> Mise à jour </strong> facile et en temps réel des inventaires</li>
                  <li><strong> Diagnostic de l’état sanitaire </strong> et des <strong> risques de rupture </strong>
                  </li>
                  <li><strong> Préconisations de travaux </strong> d’élagage et de maintenance</li>
                  <li><strong> Estimation de la valeur </strong> (selon le BEVA)</li>
                  <li><strong> Compte-rendu </strong> synthétique pour chaque sujet…</li>
                  <li><strong> Stockage des informations </strong> sur une plateforme dédiée…</li>
                </ul>
              </div>
              <p>
                Dendromap<sub>®</sub> permet le recensement de tout type d’arbres mais également d’espaces boisés
                classés ou à
                préserver.
              </p>

              <p>
                Nous pensons également que la protection des arbres est un effort collectif, c’est pourquoi nous avons
                mis en place un <strong> accompagnement privilégié </strong> pour les collectivités :
              </p>
              <div class="demo-vertical-spacing-lg">
                <ul>
                  <li> Installation sur site</li>
                  <li> Formation complète des équipes à l’outil</li>
                  <li> Interlocuteur unique et privilégié tout au long de la relation</li>
                  <li> Hotline physique pour le dépannage et les questions courantes</li>
                </ul>
              </div>

              <p><b>Contactez-nous pour mettre en œuvre la solution et bénéficier d’un mois d’essai offert !
              </b></p>
              <div class="text-center">
                <a href="#" [routerLink]="['/contact']" class="btn btn-lg btn-outline-success btn-round"> Nous
                  Contacter</a>
              </div>
            </div>

          </div>
          <div class="col-lg-6">

            <div class="card  p-4 p-lg-5 my-3" style="background: #ffffff00;">
              <div class="display-4 text-success mx-auto mb-4">
                <span class="lnr lnr-user"></span>
              </div>
              <h5 class="m-0 text-center">PROFESSIONNELS DE L’ARBRE</h5>
              <p class="ui-company-text py-2 my-4">
                Parce que vous êtes de plus en plus sollicités sur les questions de risques liés aux arbres, il est
                important d’être équipé d’une solution fiable lors de vos interventions.
                Dendromap<sub>®</sub> ne remplace pas votre regard d’expert, mais vous aide à gagner en efficacité et
                légitimité.
                <br>
                Créée par des experts pour des experts, l’application est très intuitive.
                Découvrez les possibilités de notre solution :

              </p>
              <div class="demo-vertical-spacing-lg">
                <ul>
                  <li><strong>Inventaire rapide </strong>des arbres isolés et d’alignement</li>
                  <li><strong> Vue satellite précise </strong> et fiable</li>
                  <li><strong> Diagnostic de l’état sanitaire </strong> et des <strong>risques de rupture </strong></li>
                  <li><strong> Préconisations de travaux </strong> d’élagage et de maintenance</li>
                  <li><strong> Estimation de la valeur </strong> (selon le BEVA)</li>
                  <li><strong> Compte-rendu </strong> synthétique pour chaque sujet</li>
                  <li><strong> Stockage des informations </strong> sur une plateforme dédiée…</li>
                </ul>
              </div>
              <br>
              <p>
                Dendromap<sub>®</sub> est une solution complète et souple qui s’adapte aux besoins de vos clients,
                particuliers ou
                collectivités.
              </p>
              <p>
                Parce que la connaissance de l’arbre est notre priorité, nous avons mis en place une formation vous
                permettant :
              </p>
              <ul>
                <li> De mieux appréhender l’outil</li>
                <li> D’affiner vos connaissances (champignons lignivores, type de tailles, évaluation du risque…)</li>
                <li> D’exploiter vos compétences</li>
              </ul>
              <p>
                N’hésitez pas à nous contacter pour en savoir davantage.
              </p>

              <p style="margin-top: 0.33rem;">
                <strong>Télécharger gratuitement l'application !</strong>
              </p>
              <br>
              <div class="text-center">
                <a href="#" [routerLink]="['/Inscrire']" class="btn btn-outline-success btn-round btn-lg">S'Inscrire
                  →</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
