<div class="row">
  <div class="col-md">
    <div class="card">
      <!-- Table controls -->
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <app-filter-table (onFilter)="update($event)"></app-filter-table>
          </div>
        </div>
      </div>
      <!-- / Table controls -->
      <!-- Table -->
      <hr class="border-light m-0">
      <app-table-data [COLUMNS]="columns" [DATA]="champignonsList" [deletable]="true" [editable]="true" [DATA]="datas"
        [sliceStart]="(currentPage-1) * perPage" [sliceEnd]="currentPage * perPage" (editClick)="show($event)"
        (deleteClick)="delete($event)">
      </app-table-data>
      <!-- / Table -->
      <!-- Pagination -->
      <div class="card-body py-0">
        <ngb-pagination [maxSize]="10" [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage" size="sm"
          class="d-flex justify-content-center justify-content-sm-end m-0">
        </ngb-pagination>
      </div>
      <!--/ Pagination -->
    </div>
  </div>
</div>
