<div class="table-responsive">
  <table class="table table-striped table-bordered card-table" id="myTable">
    <thead>
    <tr id="TR">
      <th *ngFor="let c of COLUMNS" class="align-middle text-center" id="ToDeleteFromPrint1">
        <span *ngIf="c.name !== 'actions' && !c.isCheck && !c.isSort">{{c.display}} </span>

        <span *ngIf="c.isSort" (click)="setSort(c.name)">{{c.display}} <i class="ion text-muted ml-2"
                                                                          [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i></span>

        <label class="custom-control custom-checkbox" *ngIf="c.isCheck">
          <input type="checkbox" class="custom-control-input is-valid" id="ALL" [checked]="selectAllStatus"
                 (change)="selectAllStatus = !selectAllStatus; selectInvAll();">
          <span class="custom-control-label"></span>
        </label>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let data of DATA" (dblclick)="isDblClick && details(data.id)" [class]="isVentoryStyle(data)">
      <td *ngFor="let c of COLUMNS" class="align-middle">
        <label class="custom-control custom-checkbox" *ngIf="c.isCheck" id="ToDeleteFromPrint2">
          <input type="checkbox" class="custom-control-input is-valid" (change)="checkOne(data)"
                 [checked]="data.selected"/>
          <span class="custom-control-label"></span>
        </label>
        <span *ngIf="c.isModelProperty && !c.isDate && !c.isObject">{{ c.isCurrency ? data[c.name] + ' €' :
          data[c.name] }}</span>
        <span *ngIf="c.isObject">{{data[c.name] && data[c.name][c.objectName]}}</span>
        <span *ngIf="c.isDate">{{data[c.name] | date: 'dd/MM/yyyy'}}</span>
        <span *ngIf="c.isLink"><a href="javascript:void(0)" (click)="openModal(data)">{{c.display}}</a></span>

        <span *ngIf="c.name == 'actions'">
            <a href="javascript:void(0)" *ngIf="showAble" (click)="show(data.id)"
               class="btn btn-default btn-xs icon-btn md-btn-flat" ngbTooltip="Voir"><i class="ion ion-md-eye"></i></a>
            <a *ngIf="editable" (click)="edit(data.id)" href="javascript:void(0)"
               class="btn btn-default btn-xs icon-btn md-btn-flat" ngbTooltip="Modifier"><i
              class="ion ion-md-create"></i></a>
            <button *ngIf="deletable" [swal]="{title:'Etes-vous sur(e)?',
                            text:'Vous êtes sur le point d\'effectuer une suppression!',
                            type:'error',
                            showCancelButton:true,
                            confirmButtonText:'Valider',
                            cancelButtonText:'Annuler',
                            showCloseButton:true,
                            cancelButtonClass:'btn btn-md btn-default',
                            confirmButtonClass:'btn btn-md btn-warning'}" ngbTooltip="Supprimer"
                    (confirm)="delete(data.id)" class="btn btn-default btn-xs icon-btn md-btn-flat">
              <i class="ion ion-md-close"></i>
            </button>
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
